html {
    box-sizing: border-box
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    
    display: grid;
    grid-template-rows: 60px auto 60px;
    height: 100vh;
}

main {
    overflow: auto;
    padding: 30px;
    display: grid;
    grid-gap: 24px;
}

h1 {
    background-color: #37457A;
    align-items: center;
    margin: 0;
    height: 5rem;
    position: fixed;
    width: 100vw;
    z-index: 1;
    text-align: center;
    padding-top: 1rem;
  }


footer {
    background-color: #37457A;
    padding: 0.5rem;
  }
